@{
    ViewBag.Title = "Home Page";
}



<div class="container body-content" ng-app="nameIt">
    <div class="row">
        <div class="col-md-4" ng-controller="nameItCtrl">
            <section ng-include src="'Scripts/App/Partials/Shared/TaxonomyNavigation.html'"></section>
        </div>
        <div class="col-md-8">
            <div ng-view></div>
        </div>
    </div>
</div>
@section scripts
{
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/ng")
    <script src="~/Scripts/App/Models/Block.js"></script>
    <script src="~/Scripts/App/Models/Game.js"></script>
    <script src="~/Scripts/App/Models/Taxonomy.js"></script>
    <script src="~/Scripts/App/Models/Visual.js"></script>
    <script src="~/Scripts/App/Models/Part.js"></script>
    <script src="~/Scripts/App/Services/NameItService.js"></script>
    <script src="~/Scripts/App/Controllers/BaseCtrl.js"></script>
    <script src="~/Scripts/App/Controllers/NameItCtrl.js"></script>
    <script src="~/Scripts/App/Controllers/GameItCtrl.js"></script>
    <script src="~/Scripts/App/App.js"></script>

}
