@{
    ViewBag.Title = "Home Page";
}



<div class="row" ng-app="nameIt">


    <div class="col-md-4" ng-controller="nameItCtrl">
        <ul ng-repeat="taxonomy in taxonomies  | filter:{ParentId: null}">
            <li>
                <strong>{{taxonomy.Display}}</strong>
                <ul ng-repeat="inner in taxonomies  | filter:{ParentId: taxonomy.Id}">
                    <li>
                        <a ng-href="/{{inner.Id}}"><span>{{inner.Display}}</span></a>

                    </li>
                </ul>
            </li>

        </ul>
    </div>
    <div class="col-md-8">
        <div ng-view></div>
    </div>
</div>
@section scripts
{
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/ng")
    <script src="~/Scripts/App/Models/Block.js"></script>
    <script src="~/Scripts/App/Models/Game.js"></script>
    <script src="~/Scripts/App/Models/Part.js"></script>
    <script src="~/Scripts/App/Models/Taxonomy.js"></script>
    <script src="~/Scripts/App/Models/Visual.js"></script>
    <script src="~/Scripts/App/Controllers/NameItCtrl.js"></script>

    <script src="~/Scripts/App/App.js"></script>

}
