<section ng-if="vm.game.Selected < vm.game.Parts.length">
    <h1>
        Your game has {{vm.game.Parts.length}} questions! <br />
        <small>max {{vm.game.Parts.length * 3}} points - current score: {{vm.game.Score}}</small>
    </h1>
    <h3>No: {{vm.game.Selected + 1}} Points: {{vm.game.SelectedPart.Score}}</h3>
    <img src="{{vm.game.SelectedPart.Block.Visual.Url}}" class="img-rounded img-responsive center-block game" alt="" />
    <div ng-repeat="name in vm.game.SelectedPart.AlternateNames" class="row" ng-class="{ green : vm.game.SelectedPart.AlternateNames.length == 1}">
        <button class=" btn btn-default btn-lg btn-block" ng-click="vm.vote(name); ">
            {{name}}
        </button>
    </div>
</section>
<section ng-if="vm.game.Selected == vm.game.Parts.length">
    <h1>Hoooorey! Your score is {{vm.game.Score}} of {{vm.game.Parts.length * 3}}</h1>
    <hr />
    <ul ng-repeat="part in game.Parts">
        <li>{{part.Block.Name}} - {{part.Score}}</li>
    </ul>
</section>
