<section ng-if="vm.game.Selected < vm.game.Parts.length">
    <h1>
        Your game has {{vm.game.Parts.length}} questions! <br />
        <small>max {{vm.game.Parts.length * 3}} points - current score: {{vm.game.Score}}</small>
    </h1>
    <h3>No: {{vm.game.Selected + 1}} Points: {{vm.game.SelectedPart.Score}}</h3>
    <img style="margin: auto; width: 400px;" src="{{vm.game.SelectedPart.Block.Visual.Url}}" class="img-rounded" alt="" />
    <div ng-repeat="name in vm.game.SelectedPart.AlternateNames" class="row">
        <button class="button col-md-4" ng-click="vm.vote(name);">{{name}}</button>
    </div>
</section>
<section ng-if="vm.game.Selected == vm.game.Parts.length">
    <h1>Hoooorey! Your score is {{vm.game.Score}} of {{vm.game.Parts.length * 3}}</h1>
    <hr />
    <ul ng-repeat="part in game.Parts">
        <li>{{part.Block.Name}} - {{part.Score}}</li>
    </ul>
</section>
